############# begin Atlas config section ##########
--noNimblePath
--path:"deps/jev_nim_client/src"
--path:"deps/malebolgia/src"
--path:"deps/results"
--path:"deps/yaml"
############# end Atlas config section   ##########
